# .gitignore
# Ignorar archivos de datos sensibles (Protección de contribuyentes)
data/
*.pdf
*.xlsx
*.csv

# Ignorar archivos temporales de Python
__pycache__/
*.pyc
.env

# Entornos virtuales (ignoramos todas las variantes comunes)
venv/
.venv/
env/
.env